extends layout

block content
  .img.flex-center
    img.src(src='./img/img.jpg')
  .container.flex-center
    .main-box
      .title-box.flex-center
        span &iquest;Quieres ser mi novia?
      .btn-box
        .btn.no No
        .btn.yes Si