@import url('./reset.css');

div.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #eee;
}

div.container > div#mapid {
	border-radius: 12px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .2);
	height: 80%;
	width: 80%;
}